<%= form_for @content, :html => { :multipart => true , role: 'form', id: 'content-form'} do |f| %>
    <% if @content.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@time_line_item.errors.count, "error") %>
            prohibited
            this article from being saved:</h2>
          <ul>
            <% @content.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :subtitle %>
      <%= f.text_field :subtitle, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <%= f.hidden_field :author_id %>

    <%= f.hidden_field :section_id %>

    <%= f.hidden_field :publisher_id %>

    <div class="form-group">
      <%= f.label :header_image %>
      <%= f.file_field :header_image, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= f.label :header_image_info %>
      <%= f.text_field :header_image_info, class: 'form-control' %>
    </div>

    <% case content_type %>
    <% when 'article' %>
        <%= f.hidden_field :body_html %>

    <% when 'album' #album, nothing in the form%>

    <% when 'video' #video%>
        <p>
          <%= f.label :video_url %>
          <%= f.text_field :video_url, class: 'form-control' %>
        </p>
    <% end %>

    <!--<p>-->
      <!--<%= f.submit id: 'content_submit_button'%>-->
    <!--</p>-->
<% end %>