<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :header_img %></th>
    <th><%= t :type %></th>
    <th><%= t :title %></th>
    <th><%= t :subtitle %></th>
    <th><%= t :description %></th>
    <th><%= t :status %></th>


  </tr>
  </thead>

  <tbody>
  <% contents.each do |content| %>
      <tr>
        <td><%= image_tag content.header_image.url(:thumb) %></td>
        <td><%=raw content_type_label(content, t(content.content_type)) %></td>
        <td><%= content.title %></td>
        <td><%= content.subtitle %></td>
        <td><%= content.description %></td>
        <td><%=raw status_label(content, t(content.status)) %></td>


        <td><%= link_to t('show'), content_path(content),
              {role: 'button', class: 'btn btn-info'}%>
            <%= link_to t('edit'), edit_content_path(content),
              {role: 'button', class: 'btn btn-warning'}%></td>
      </tr>
  <% end  %>
  </tbody>
</table>