<h1> edit Article </h1>

<%= render 'form' %>

<hr/>
<div id="container">
  <div class="editable">
    <%=raw @content.body_html %>
  </div>
</div>


<hr/>
<h2>Add a Photo:</h2>
<%= form_for([@content, @content.photos.build], {:html => { :multipart => true }}) do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :photographer %>
      <%= f.text_field :photographer %>
    </p>
    <p>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>



<%= link_to 'Back', content_path(@content) %>


<script>

    var editor = new MediumEditor('.editable', {
        elementsContainer: document.getElementById('container'),
        buttonLabels: 'fontawesome',
        buttons:['bold', 'italic', 'underline', 'anchor', 'header1', 'header2', 'quote', 'image']
    });

    $(function () {
        $('.editable').mediumInsert({
            editor: editor,
            addons: {
                images: {
                    imagesDeleteScript: '/article_body_image/delete',
                    imagesUploadScript: '/contents/<%= @content.id %>/article_body_images'
                }
            }
        });
    });

    $(".submit_button").click(function() {
        var allContents = editor.serialize();
        var elContent = allContents["element-0"].value;
        $("#content_body_html").val(elContent);
    });

</script>
