<div class="jumbotron">
  <h1>Hello~</h1>
</div>

<div class="page-header">
  <% if current_user.have_authority('manage') %>
    <h3> Manage </h3>
      <%= link_to sections_path, {role: 'button', class: 'btn btn-primary'} do %>
        Manage sections
      <% end %>
      <%= link_to publishers_path, {role: 'button', class: 'btn btn-primary'} do %>
        Manage publishers
      <% end %>
      <% if current_user.super_admin? %>
        <%= link_to users_path, {role: 'button', class: 'btn btn-primary'} do %>
          Manage users
        <% end %>
      <% end %>
  <% end %>
  <h3> All Contents </h3>
    <%= link_to add_contents_path(content_type: :article), {role: 'button', class: 'btn btn-primary'} do %>
      <span class='glyphicon glyphicon-file'></span> Add article
    <% end %>
    <%= link_to add_contents_path(content_type: :album), {role: 'button', class: 'btn btn-primary'} do %>
      <span class='glyphicon glyphicon-picture'></span> Add album
    <% end %>
    <%= link_to add_contents_path(content_type: :video), {role: 'button', class: 'btn btn-primary'} do %>
      <span class='glyphicon glyphicon-facetime-video'></span> Add video
    <% end %>
    <% if current_user.have_authority('access_specials') %>
      <%= link_to add_contents_path(content_type: :special), {role: 'button', class: 'btn btn-primary'} do %>
        <span class='glyphicon glyphicon-star'></span> Add special
      <% end %>
    <% end %>
</div>


<div class="row">
  <div class="col-md-12">
    <ul id="tabs" class="nav nav-tabs" role="tablist">
      <li id='all_tab'><a href="/#tabs">All</a></li>
      <li id='article_tab'><a href="?content_type=article#tabs">Article</a></li>
      <li id='video_tab'><a href="?content_type=video#tabs">Video</a></li>
      <li id='album_tab'><a href="?content_type=album#tabs">Album</a></li>
      <li id='contributions_tab'><a href="?contributions=true#tabs">Contributions</a></li>
    </ul>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>header img</th>
        <th>Type</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Description</th>
        <th>Status</th>


      </tr>
      </thead>

      <tbody>
      <% @contents.each do |content| %>
          <tr>
            <td><%= content.id %></td>
            <td><%= image_tag content.header_image.url(:thumb) %></td>
            <td><%=raw content_type_label(content, content.content_type) %></td>
            <td><%= content.title %></td>
            <td><%= content.subtitle %></td>
            <td><%= content.description %></td>
            <td><%=raw status_label(content, content.status) %></td>


            <td><%= link_to 'Show', content_path(content) %></td>
            <% if current_user.can_modify_content(content.id) %>
              <td><%= link_to 'Edit', edit_content_path(content) %></td>
            <% end %>
          </tr>
      <% end  %>
      </tbody>
    </table>
    <%= paginate @contents, :reomte => true %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
    var type = getUrlParameter('content_type');
    var contributions = getUrlParameter('contributions')
    if(type == "article")
    {
      $("#article_tab").addClass("active")
    }
    else if(type == "album")
    {
      $("#album_tab").addClass("active")
    }
    else if(type == "video")
    {
      $("#video_tab").addClass("active")
    }
    else if(contributions == "true")
    {
      $("#contributions_tab").addClass("active")
    }

    if(type == undefined && contributions == undefined)
    {
      $("#all_tab").addClass("active")
    }

    function getUrlParameter(sParam)
    {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++) 
      {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam) 
          {
              return sParameterName[1];
          }
      }
    }
</script>



