<div class="jumbotron">
  <h1>Hello~</h1>
</div>

<div class="page-header">
  <% if current_user.have_authority('manage') %>
    <h3> Manage </h3>
      <%= link_to sections_path, {role: 'button', class: 'btn btn-primary'} do %>
        Manage sections
      <% end %>
      <%= link_to publishers_path, {role: 'button', class: 'btn btn-primary'} do %>
        Manage publishers
      <% end %>
      <% if current_user.super_admin? %>
        <%= link_to users_path, {role: 'button', class: 'btn btn-primary'} do %>
          Manage users
        <% end %>
      <% end %>
  <% end %>
  <h3> All Contents </h3>
    <%= link_to add_contents_path(content_type: :article), {role: 'button', class: 'btn btn-primary'} do %>
      <span class='glyphicon glyphicon-file'></span> Add article
    <% end %>
    <%= link_to add_contents_path(content_type: :album), {role: 'button', class: 'btn btn-primary'} do %>
      <span class='glyphicon glyphicon-picture'></span> Add album
    <% end %>
    <%= link_to add_contents_path(content_type: :video), {role: 'button', class: 'btn btn-primary'} do %>
      <span class='glyphicon glyphicon-facetime-video'></span> Add video
    <% end %>
    <% if current_user.have_authority('access_specials') %>
      <%= link_to add_contents_path(content_type: :special), {role: 'button', class: 'btn btn-primary'} do %>
        <span class='glyphicon glyphicon-star'></span> Add special
      <% end %>
    <% end %>
</div>


<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist">
      <li class="active" ><a href="#">All</a></li>
      <li><a href="?content_type=article">Article</a></li>
      <li><a href="?content_type=video">Video</a></li>
      <li><a href="?content_type=album">Album</a></li>
      <li><a href="?contributions=true">Contributions</a></li>
    </ul>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>header img</th>
        <th>Type</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Description</th>
        <th>Status</th>


      </tr>
      </thead>

      <tbody>
      <% @contents.each do |content| %>
          <tr>
            <td><%= content.id %></td>
            <td><%= image_tag content.header_image.url(:thumb) %></td>
            <td><%=raw content_type_label(content, content.content_type) %></td>
            <td><%= content.title %></td>
            <td><%= content.subtitle %></td>
            <td><%= content.description %></td>
            <td><%=raw status_label(content, content.status) %></td>


            <td><%= link_to 'Show', content_path(content) %></td>
            <% if current_user.can_modify_content(content.id) %>
              <td><%= link_to 'Edit', edit_content_path(content) %></td>
            <% end %>
          </tr>
      <% end  %>
      </tbody>
    </table>
    <%= paginate @contents, :reomte => true %>
  </div>
</div>





