<div class="jumbotron">
  <h1>Hello~</h1>
</div>

<div class="page-header">
  <h3> All Contents </h3>
    <%= link_to 'add article', add_contents_path(content_type: :article), {role: 'button', class: 'btn btn-primary'} %>
    <%= link_to 'add album', add_contents_path(content_type: :album), {role: 'button', class: 'btn btn-primary'}%>
    <%= link_to 'add video', add_contents_path(content_type: :video), {role: 'button', class: 'btn btn-primary'} %>
</div>


<div class="row">

  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Status</th>
        <th>Type</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Description</th>

      </tr>
      </thead>

      <tbody>
      <% @contents.each do |content| %>
          <tr>
            <td><%= content.id %></td>
            <td><%=raw status_label(content, content.status) %></td>
            <td><%= content.content_type %></td>
            <td><%= content.title %></td>
            <td><%= content.subtitle %></td>
            <td><%= content.description %></td>

            <td><%= link_to 'Show', content_path(content) %></td>
            <td><%= link_to 'Edit', edit_content_path(content) %></td>
          </tr>
      <% end  %>
      </tbody>
    </table>
  </div>
</div>





