<html style="padding:0;margin:0" id="root">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<style type="text/css">
		  body {font-family: "Heiti"; margin-top: 0; margin-bottom: 1rem; margin-left: 0; margin-right: 0}
		  p {font-size: 0.81rem; line-height: 1.16rem; margin-left: 0; margin-top: 0; margin-right: 0; margin-bottom: 0.476rem; color: #262626}
		  span {font-size: 0.81rem; line-height: 1.16rem}
		  img { margin-left: 0; margin-top: 0.286rem; margin-right: 0px; margin-bottom: 0.286rem}
		</style>
		<script type="text/javascript">
			var size = document.documentElement.clientWidth * 0.0694
			console.log(size)
			document.getElementById('root').style.fontSize = "22.2px"
			//document.getElementById('root').style.fontSize = size
		</script>
	</head>
	<body style="letter-spacing:0">
		<div id="head" style="padding:0; margin-top: 0.96rem; font-size: 1rem; color:#1a1a1a; line-height:1">
			<%=@content.title%>
		</div>
		<div id="description" style="padding:0; margin-top: 0.4rem; font-size:0.52rem; ">
			<%=@content.description%>
		</div>
		<div id="subhead" style="margin-top:0.9rem; font-size:0.52rem; line-height:1; color:#666666">
			<%= "#{@content.created_at.to_date.year}年#{@content.created_at.to_date.month}月#{@content.created_at.to_date.day}日" %>
		</div>
		<div id="subhead2" style="font-size:0.52rem; line-height:1; color:#666666">
			<%= "#{@content.publisher.name}/#{@content.user.display_name}" %>
		</div>
		<div id="info" style="height: 0.4rem; margin-top:0.32rem; font-size:0.4rem; line-height:1; color:#666666">
			<div id="like" style="float:right; margin-left:0.217rem"><%= "收到#{@content.like}个赞"%></div>
			<div style="float:right; margin-left:0.217rem">/</div>
			<div id="views" style="float:right"><%= "有#{@content.views}个路人来过"%></div>
		</div>
		<div style="margin-top:0rem;padding-top:0.24rem">
			<hr style="margin-top:0">
		</div>
		<div id="content" style="margin-top:0.476rem;">
			  <% @content.photos.each do |photo| %>
		    <a href="<%= @host_url + photo.image.url(:original) + '&photo_id=' + photo.id.to_s %>"><img width="100%" src="<%= @host_url + photo.image.url(:original) %>"></a>
		    <% if photo.description != "" %>
		    	<p style="margin-top:0; margin-bottom:0rem ;color:#888; font-size:0.64rem; line-height:1.16"><%= photo.description %></p>
	    	<% else %>
		    	<div style="margin-top:0.96rem; margin-bottom:0rem"/>
		    <% end %>
		  <% end %>
		</div>
	</body>