<%= form_for(resource, as: resource_name, url: session_path(resource_name),
    html: {role:"form" } ) do |f| %>
  <h2>Log in</h2>
  <div class="col-xs-3">
    <div class="field form-group">
      <%= f.label :email %><br />
      <label>
        <%= f.email_field :email, 
          {autofocus: true, class:"form-control" }%>
      </label>
    </div>

    <div class="field form-group">
      <label>
        <%= f.label :password %><br />
        <%= f.password_field :password,
          {autocomplete: "off", class:"form-control" }%>
      </label>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="field checkbox">
          <label>
            <%= f.check_box :remember_me %>
          </label>
          <%= f.label :remember_me %>
        </div>
    <% end -%>

    <div class="actions form-group">
      <%= f.submit "Log in" ,{class: "btn btn-default"}%>
    </div>
    <%= render "users/shared/links" %>
  </div>
<% end %>
