<% content_for :head do %>
<% end %>

<h1> article <%= @article.id %></h1>

<p>
  <strong>id: </strong>
  <%= @article.id %>
</p>

<p>
  <strong> Title: </strong>
  <%= @article.title %>

<p>
  <strong> Subtitle: </strong>
  <%= @article.subtitle %>
</p>

<p>
  <strong> Description: </strong>
  <%= @article.description %>
</p>

<p>
  <strong> Author: </strong> <br/>
  <%= @article.author.name %> <br/>
  <%= @article.author.display_name %>
</p>

<p>
  <strong> section: </strong> <br/>
  <%= @article.section.category %> <br/>
  <%= @article.section.module %>
</p>

<%= image_tag @article.header_image.url(:medium) %> <br/>
<%= image_tag @article.header_image.url(:thumb) %>

<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>

<div id="container">
  <div class="editable">
    <%=raw @article.body_html %>
  </div>
</div>

<script>
    var editor = new MediumEditor('.editable', {
        elementsContainer: document.getElementById('container'),
        buttonLabels: 'fontawesome',
        buttons:['bold', 'italic', 'underline', 'anchor', 'header1', 'header2', 'quote', 'image']
    });

    $(function () {
        $('.editable').mediumInsert({
            editor: editor,
            addons: {
                images: {
                    imagesUploadScript: '/articles/<%= @article.id %>/article_body_images'
                }
            }
        });
        $('.editable').mediumInsert('disable');
        editor.deactivate();
    });
</script>
