<%= form_for @time_line_item do |f| %>
    <% if @time_line_item.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@time_line_item.errors.count, "error") %>
            prohibited
            this article from being saved:</h2>
          <ul>
            <% @time_line_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :subtitle %><br>
      <%= f.text_field :subtitle %>
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>

    <p>
      <%= f.label :content_type %>
      <%= f.select :content_type, options_for_select(TimeLineItem.content_types.keys.to_a, selected: @time_line_item.content_type) %>
    </p>

    <p>
      <%= f.label :active %>
      <%= f.check_box :active %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>