<h1> time line item</h1>

<p>
  <strong>id: </strong>
  <%= @time_line_item.id %>
</p>

<p>
  <strong> Title: </strong>
  <%= @time_line_item.title %>

  <p>
    <strong> Subtitle: </strong>
    <%= @time_line_item.subtitle %>
  </p>
</p>

<%= link_to 'Back', time_line_items_path %>
<%= link_to 'Edit', edit_time_line_item_path(@time_line_item) %>

