<h1> time line item</h1>

<p>
  <strong>id: </strong>
  <%= @time_line_item.id %>
</p>

<p>
  <strong> Title: </strong>
  <%= @time_line_item.title %>

  <p>
    <strong> Subtitle: </strong>
    <%= @time_line_item.subtitle %>
  </p>

    <p>
      <strong> Description: </strong>
      <%= @time_line_item.description %>
    </p>

    <p>
      <strong> Content_type: </strong>
      <%@time_line_item.content_type %>

      <%= @time_line_item.content_type %>
    </p>

    <p>
      <strong> Active: </strong>
      <%= @time_line_item.active %>
    </p>
</p>

<%= link_to 'Back', time_line_items_path %>
<%= link_to 'Edit', edit_time_line_item_path(@time_line_item) %>

