<h1> all authors </h1>

<table>
  <tr>
    <th>id</th>
    <th>Department</th>
    <th>Name</th>
    <th>Display Name</th>
  </tr>

  <% @authors.each do |author| %>
      <tr>
        <td><%= author.id %></td>
        <td><%= author.department %></td>
        <td><%= author.name %></td>
        <td><%= author.display_name %></td>

        <td><%= link_to 'Show', author_path(author) %></td>
        <td><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><%= link_to 'Delete', author_path(author),
                        method: :delete, data: { confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  <%= link_to 'new author', new_author_path %>
</table>