<h1> all users </h1>
<%= link_to "back", contents_path ,{role: 'button', class: 'btn btn-default'}%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Publisher</th>
      <th>Group</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.display_name %></td>
          <td><%= user.publisher.name %></td>
          <td><%= user.group %></td>

          <td><%= link_to 'Show', user_path(user),
                {role: 'button', class: 'btn btn-info'}%>
              <%= link_to 'Edit', edit_user_path(user), 
                {role: 'button', class: 'btn btn-warning'}%>
              <%= link_to 'Delete', {url: user_path(user),
                method: :delete, data: { confirm: 'Are you sure?'}},
                {role: 'button', class: 'btn btn-danger'} %></td>
        </tr>
    <% end %>
  </tbody>
</table>