<h1> <%= t :manage_sections %> </h1>
<%= link_to new_section_path, {role: 'button', class: 'btn btn-primary'} do %>
  <span class="glyphicon glyphicon-plus"></span> <%= t :new_section %>
<% end %>
&nbsp
<%= link_to t("back"), contents_path ,{role: 'button', class: 'btn btn-default'}%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th><%= t :category %></th>
      <th><%= t :module %></th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
        <tr>
          <td><%= section.id %></td>
          <td><%= t section.category %></td>
          <td><%= section.module %></td>

          <td><%= link_to t('show'), section_path(section), 
                {role: 'button', class: 'btn btn-info'}%>
              <%= link_to t('edit'), edit_section_path(section), 
                {role: 'button', class: 'btn btn-warning'} %>
              <%= link_to t('delete'), section_path(section),
                        method: :delete, data: { confirm: t("are_you_sure")},
                        role: 'button', class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
  </tbody>
</table>