<h1> all Sections </h1>
<%= link_to new_section_path, {role: 'button', class: 'btn btn-primary'} do %>
  <span class="glyphicon glyphicon-plus"></span> New section
<% end %>
&nbsp
<%= link_to "back", contents_path ,{role: 'button', class: 'btn btn-default'}%>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Category</th>
      <th>Module</th>
    </tr>
  </thead>
  <tbody>
    <% @sections.each do |section| %>
        <tr>
          <td><%= section.id %></td>
          <td><%= section.category %></td>
          <td><%= section.module %></td>

          <td><%= link_to 'Show', section_path(section), 
                {role: 'button', class: 'btn btn-info'}%>
              <%= link_to 'Edit', edit_section_path(section), 
                {role: 'button', class: 'btn btn-warning'} %>
              <%= link_to 'Delete', { url: section_path(section),
                method: :delete, data: { confirm: 'Are you sure?'} },
                {role: 'button', class: 'btn btn-danger'} %></td>
        </tr>
    <% end %>
  </tbody>
</table>