<h1><%= t :section %></h1>

<p>
  <strong>id: </strong>
  <%= @section.id %>
</p>

<p>
  <strong> <%= t :category %>: </strong>
  <%= t(@section.category) %>

<p>
  <strong> <%= t :module %>: </strong>
  <%= @section.module %>
</p>

<%= link_to t('back'), sections_path, {role: 'button', class: 'btn btn-default'}%>
<%= link_to t('edit'), edit_section_path(@section),
	{role: 'button', class: 'btn btn-warning'} %>

